/* Global */

:root {
  --color-body: #212121;
  --color-title: #ffffff;
  --color-footer: #ffffff;
  --color-header: #7029e9;

  --color-link: #7029e9;
  --color-link-hover: #9056f5;

  --color-button: #7029e9;
  --color-button-hover: #9056f5;
  --color-button-cancel: #e92929;

  --color-card: #ffffff;
  --color-card-title: #212121;
  --color-card-total: #4d00d3;
  --color-card-total-title: #ffffff;
  --color-card-income: #12a454;
  --color-card-expense: #e92929;

  --color-table-body: #313131;
  --color-table-text: #ffffff;
  --color-table-description: #ffffff;
  --color-table-income: #12a454;
  --color-table-expense: #e92929;

  --color-modal: #f0f2f5;
  --color-modal-title: #212121;
  --color-modal-error: #e92929;

  --color-checkbox: #ffffff;
}

[data-theme="light"] {
  --color-body: #ffffff;
  --color-footer: #212121;

  --color-card: #eeeeee;
  --color-card-total-title: #dddddd;

  --color-table-body: #dddddd;
  --color-table-text: #212121;
  --color-table-description: #212121;

  --color-checkbox: #212121;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background: var(--color-body);
  font-family: "Poppins", sans-serif;
  transition: background 0.5s;
}

.sr--only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.main__container {
  width: min(90vw, 1300px);
  margin: 0 auto;
}

/* Animate */

@keyframes tableFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes shakeX {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

/* Titles */

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--color-title);
  font-weight: 400;
}

/* Links & Buttons */

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: var(--color-link-hover);
}

.button {
  cursor: pointer;
  user-select: none;
  background: var(--color-button);
  color: var(--color-title);
  padding: 2rem;
  width: 100%;
  height: 50px;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.5s;
}

.button:hover {
  background: var(--color-button-hover);
  color: var(--color-title);
}

.button.button--new {
  display: inline-block;
  margin-bottom: .8rem;
  background: transparent;
  padding: 0;
  height: initial;
  width: inherit;
  color: var(--color-link);
  transition: color 0.5s;
}
.button.button--new:hover {
  color: var(--color-link-hover);
}

.button.button--cancel {
  color: var(--color-button-cancel);
  border: 2px var(--color-button-cancel) solid;
  background: transparent;
  opacity: 0.6;
  transition: opacity 0.5s;
}
.button.button--cancel:hover {
  opacity: 1;
}

/* Header */

header {
  background: var(--color-header);
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  display: block;
  width: 170px;
  margin: 0 auto;
  user-select: none;
}

#theme__changer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
#theme__checkbox {
  visibility: hidden;
}
#theme__checkbox:checked + #theme__switch::before {
  margin-left: calc(60px - 25px - 4px);
}
#theme__switch {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  background: var(--color-body);
  border-radius: 30px;
}
#theme__switch::before {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 0;
  margin-left: 4px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--color-checkbox);
  transition: all 0.5s;
}

/* Balance */

#balance__content {
  margin-top: -6rem;
}

#balance__content h2 {
  margin-top: 0;
}

/* Cards */

.card__content {
  background: var(--color-card);
  color: var(--color-card-title);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.card__content.card--total {
  background: var(--color-card-total);
  color: var(--color-card-total-title);
}

.card__content .cart__title {
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__content #card--income {
  color: var(--color-card-income);
}

.card__content #card--expense {
  color: var(--color-card-expense);
}

.card__content .card--image {
  width: 30px;
  user-select: none;
}

.card__content .card__balance {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

/* Table */

#table__container {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#table__content {
  width: 100%;
  border-spacing: 0 0.5rem;
}

#table__content thead tr th:first-child,
#table__content tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

#table__content thead tr th:last-child,
#table__content tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

#table__container img {
  cursor: pointer;
  width: 28px;
  margin: 0 10px;
}

#table__content th {
  background: var(--color-table-body);
  color: var(--color-table-text);
  opacity: 0.5;
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
  transition: background 0.5s, color 0.5s;
}

.table--fadeIn {
  animation: tableFadeIn 1s;
}

#table__content tbody tr {
  opacity: 0.7;
  transition: opacity 0.5s;
}

#table__content tbody tr:hover {
  opacity: 1;
}

#table__content td {
  background: var(--color-table-body);
  color: var(--color-table-text);
  padding: 1rem 2rem;
  transition: background 0.5s, color 0.5s;
}

#table__content img {
  user-select: none;
}

#table__content .table--description {
  color: var(--color-table-description);
}

#table__content .table--income {
  color: var(--color-table-income);
}

#table__content .table--expense {
  color: var(--color-table-expense);
}

/* Modal */

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal__container.modal--active {
  opacity: 1;
  visibility: visible;
  animation: modalFadeIn 0.5s;
}
.modal__container.modal--close {
  opacity: 0;
  visibility: hidden;
  animation: modalFadeOut 0.5s;
}

.modal__content {
  background: var(--color-modal);
  padding: 2.4rem;
  border-radius: 0.25rem;
  width: min(90%, 500px);
  position: relative;
  z-index: 1;
}

/* Modal Form */

#form__content {
  width: 100%;
}

#form__content h2 {
  margin-top: 0;
  color: var(--color-modal-title);
}

.from__input__group {
  margin-top: 0.8rem;
}

.from__input__group input {
  border-radius: 0.2rem;
  padding: 1.25rem;
  width: 100%;
}

.from__input__group .input--help {
  opacity: 0.4;
  margin-top: 0.8rem;
  display: block;
}

.from__input__group .input--error {
  border: 2px solid var(--color-modal-error);
  animation: shakeX 1s;
}

.from__input__group.group__actions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.from__input__group.group__actions .button {
  width: 48%;
}

/* Footer */

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--color-footer);
  opacity: 0.6;
  transition: color 0.5s;
}

/* Responsive */
@media (min-width: 1300px) {
  html {
    font-size: 87.5%;
  }

  #card__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 800px) {
  #table__container img {
    margin: 10px 0;
    display: block;
  }
}

@media (max-width: 500px) {
  .from__input__group.group__actions {
    flex-direction: column;
  }
  .from__input__group.group__actions .button:first-child {
    margin-bottom: 20px;
  }
  .from__input__group.group__actions .button {
    width: 100%;
  }
}